.App-header {
  text-align: center;
  background-color: blueviolet;
  color: #fff;
  padding: 20px;
}

.login-component {
  position: relative;
  width: 400px;
  max-width: 100%;
  padding: 20px 40px;
  border: 1px solid lightgray;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-component h2 {
  text-align: center;
  color: #333;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  padding: 8px 5px;
  width: 100%;
  /* max-width: 280px; */
  margin-bottom: 10px;
  border: 1px solid blueviolet;
  border-radius: 5px;
}

form button {
  width: 100%;
  background-color: blueviolet;
  color: #fff;
  padding: 8px;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 0.3s;
}

form button:hover {
  background-color: #7412d1;
  transition: all ease 0.3s;
}

.success-message {
  color: #007f00;
  text-align: center;
}

.flash-message {
  width: 200px;
  padding: 10px;
  text-align: center;
  background-color: #00bd00;
  color: #fff;
}

.family-tree-wrapper {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
}

.family-tree-wrapper p {
  text-align: center;
}

.family-tree-title {
  text-align: center;
  margin-bottom: 50px;
}

.member {
  width: 400px;
  margin: 1.5rem auto;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eeeeee;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal h2 {
  margin-top: 0;
}

.modal label {
  display: block;
  margin-bottom: 5px;
}

.modal input[type="text"],
.modal input[type="date"],
.modal textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal textarea {
  height: 100px;
}

.modal button {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

.modal button:hover {
  background-color: #0056b3;
}

.modal button:last-child {
  margin-right: 0;
  background-color: #dc3545;
}

.modal button:last-child:hover {
  background-color: #bd2130;
}

.logout-btn {
  background-color: #72637f;
  color: #fff;
  padding: 6px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.logout-btn:hover {
  background-color: #6a527e;
}
